.step-two{
  &-header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
  }
  &-main {
    &-content {
      &-title {
        font-weight: bold;
        line-height: 3;
        font-size: 1.2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  &-footer {
    width: 100%;
    margin: 1rem 0;
    :global {
      .adm-space-item {
        flex: 1;
      }
    }
  }
}